<template>
  <div>
    <el-row justify="center">
      <el-col :offset="9">
        <h2>Мэргэжлийн үг: {{word.title}}</h2>
      </el-col>
      <el-col :span="18">
        <el-row :gutter="24">
          <el-col :span="6" v-for="(suggest, index) in suggests">
            <span>
              <b>Зураг №{{index+1}}:</b> 
              <p v-if="suggest.image !== null">{{suggest.image}}</p>
              <p v-else> Зураг байхгүй </p>
              <b>Орчуулга №{{index+1}}:</b> 
              <p> {{suggest.key}} </p>
              <b>Тайлбар №{{index+1}}:</b> 
              <p v-if="suggest.body.length !== 0">{{suggest.body}}</p>
              <p v-else> Тайлбар байхгүй </p>
              <p><b>Хэрэгцээт линкүүд:</b></p>
              <p v-if="suggest.created.length !== 0">{{suggest.created}}</p>
              <p v-else> Зураг байхгүй </p>
            </span>
          </el-col>
        </el-row>
        <el-button type="primary" @click="offer()">Орчуулга санал болгох</el-button>
        <el-button type="primary" @click="viewOffer()">Санал болгосон орчуулга үзэх</el-button>
        <div>
          <router-view></router-view>
        </div>
      </el-col>
    </el-row>
  </div>  
</template>

<script>
  export default {
    data() {
      return {
        wordID: 0,
        word: {},
        suggests: [],
      }
    },
    created() {
      self = this
      self.wordID = this.$route.params.id;
      this.getWord(self.wordID);
      this.getSuggests(self.wordID);
    },
    methods: {
      getSuggests(id) {
        var self = this;
        var url = "/word/" + id.toString() + "/suggest/";
        self.axios.get(url).then((res) => {
          self.suggests = res.data.results;
        }).catch(function(error){
          console.log(error);
        });
      },
      getWord(id) {
        var self = this;
        var url = "/word/"+ id.toString() + "/";
        self.axios.get(url).then((res) =>{
          self.word = res.data;
        }).catch(function(error){
          console.log(error);
        });
      },
      offer(){
        self = this
        this.$router.append(`word/${self.wordID}/offer/`);
        console.log(item);
      }, 
      viewOffer(){
        self = this
        this.$router.push(`view_offer/${self.wordID}`);
        console.log(item);
      }
    },
  }
</script>