<template>
  <el-form ref="form" :model="form"
  <el-row :gutter="24">
    <el-col :span="8">
      <div style="margin: 20px">
        <p><b>Англи: </b></p> <el-input style="width: 100%"></el-input>
        <p><b>Монгол: </b></p> <el-input style="width: 100%"></el-input>
        <p><b>Үгсийн аймаг: </b></p> 
        <el-select  placeholder="Select" style="width: 100%">
          <el-option label="Нэр үг"> </el-option>
        </el-select>
      </div>
    </el-col>
    <el-col :span="13">

      <p><b>Тайлбар: </b></p><el-input type="textarea" :rows="10" style="width: 100vh"></el-input><br><br>

    </el-col>
    <el-col :span="3">
      <el-upload class="upload-demo" action="https://jsonplaceholder.typicode.com/posts/" :on-preview="handlePreview" :on-remove="handleRemove" :file-list="fileList2" list-type="picture">
        <el-button size="small" type="primary">Click to upload</el-button>
      </el-upload>
      <br><br>
      <router-link to="#"><el-button type="success" style="">Илгээх</el-button></router-link>

    </el-col>
  </el-row>
</el-form>
</template>
<script>
  export default {
    data() {
      return {
        word: {},
        wordId: 0 
      }
    },
    created() {
      this.wordId=this.$route.params.wordId;
    },
    methods: {
      sendOffer: function() {
        // body...
      },
      handleRemove(file, fileList) {
        console.log(file, fileList);
      },
      handlePreview(file) {
        console.log(file);
      }
    },
  }
</script>