<style>
	.id{
		
	    overflow-y: scroll;
	    overflow-x: hidden;
	    max-height:300px;
	    width: 100%;
	    border-collapse: collapse;
	}
</style>
<template>
<div>
	<div class="id">
		<hr>
		<el-row :gutter="24">
			<el-col :span="5">
				<p style="text-align: center">2 Хэмжээст</p>
				<b>image is here</b>
			</el-col>
			<el-col :span="13">
				<el-row :gutter="24">
					<el-col :span="7">
						<b><p>Монгол тайлбар: </p></b>
					</el-col>
					<el-col :span="17">
						<p>2 Хэмжээст огторгуй</p>
						<p>dsfa</p>
					</el-col>
				</el-row>
				<el-row :gutter="24">
			      <el-col :span="7">
			        <p><b>Хэрэгцээт линкүүд:</b></p>
			      </el-col>
			      <el-col :span="14">
			        <p><a href="http://www.bolor-toli.com">www.bolor-toli.com</a></p>
			      </el-col>
			    </el-row>
			</el-col>
		</el-row>
		<hr>
		<el-row :gutter="24">
			<el-col :span="5">
				<p style="text-align: center">2 Хэмжээст</p>
				<b>image is here</b>
			</el-col>
			<el-col :span="11">
				<el-row :gutter="24">
					<el-col :span="7">
						<b><p>Монгол тайлбар: </p></b>
					</el-col>
					<el-col :span="14">
						<p>2 Хэмжээст огторгуй</p>
						<p>dsfa</p>
					</el-col>
				</el-row>
				<el-row :gutter="24">
			      <el-col :span="7">
			        <p><b>Хэрэгцээт линкүүд:</b></p>
			      </el-col>
			      <el-col :span="14">
			        <p><a href="http://www.bolor-toli.com">www.bolor-toli.com</a></p>
			      </el-col>
			    </el-row>
			</el-col>
		</el-row>
		<hr>
		<el-row :gutter="24">
			<el-col :span="5">
				<p style="text-align: center">2 Хэмжээст</p>
				<b>image is here</b>
			</el-col>
			<el-col :span="11">
				<el-row :gutter="24">
					<el-col :span="7">
						<b><p>Монгол тайлбар: </p></b>
					</el-col>
					<el-col :span="14">
						<p>2 Хэмжээст огторгуй</p>
						<p>dsfa</p>
					</el-col>
				</el-row>
				<el-row :gutter="24">
			      <el-col :span="7">
			        <p><b>Хэрэгцээт линкүүд:</b></p>
			      </el-col>
			      <el-col :span="14">
			        <p><a href="http://www.bolor-toli.com">www.bolor-toli.com</a></p>
			      </el-col>
			    </el-row>
			</el-col>
			
		</el-row><hr>
		
	</div>
	<router-link to="/offer"><el-button type="primary" style="margin: auto">Орчуулга санал болгох</el-button></router-link>
	</div>
</template>

<script>
  export default {
    data() {
      return {
        word: {},
        suggests: [],
      }
    },
    created() {
      this.getWord(this.$route.params.id);
      this.getSuggests(this.$route.params.id);
    },
    methods: {
      getSuggests(id) {
        var self = this;
        var url = "/word/" + id.toString() + "/suggest/";
        self.axios.get(url).then((res) => {
          self.suggests = res.data.results;
        }).catch(function(error){
          console.log(error);
        });
      },
      getWord(id) {
        var self = this;
        var url = "/word/"+ id.toString() + "/";
        self.axios.get(url).then((res) =>{
          self.word = res.data;
        }).catch(function(error){
          console.log(error);
        });
      }
    },
  }
</script>