<template>
  <el-table
  :data="words"
  max-height="100%"
  style="width: 100%">
  <el-table-column type="expand">
    <template scope="props">

      <p>title: {{ props.row.title }}</p>
      <p v-for="(suggest, index) in props.row.suggests">
        suggest No{{index+1}}: {{suggest.key}}
      </p>
      <p>created: {{ props.row.created }}</p>
      <p>image: {{ props.row.image }}</p>
      <p>sentences: {{ props.row.sentences }}</p>
      <p>user: {{ props.row.user }}</p>
      <p>tags: {{ props.row.tags }}</p>
      <p>id: {{ props.row.id }}</p>
    </template>
  </el-table-column>
  <el-table-column
  label="Үг"
  prop="title">
</el-table-column>
<el-table-column
label="Date"
prop="created">
</el-table-column>
</el-table>
</template>

<script>
  export default {
    data() {
      return {
        words: [{}],
        suggests: [[{}]]
      }
    },
    methods: {
      getWords: function () {
        var self = this;
        this.axios.get("/word/",{
          params:{
            page:100
          }
        }).then((res) => {
          self.words = res.data.results;
          self.getSuggests();
        }).catch(function(error) {
          console.log(error);
        });
      },
      getSuggests: function() {
        var self = this;
        var w = self.words;
        w.forEach(function(word, index, array) {
          var url = "/word/" + word.id.toString() + "/suggest/";
          self.axios.get(url).then((res) => {
            self.words[index].suggests = res.data.results;
          }).catch(function(error){
            console.log(error);
          });
        });
      }
    },
    created() {
      this.getWords();
    },
  }
</script>