<template>
	<div style="text-align: center">
		<p>Орчуулга:</p>
		<el-input placeholder="Key" style="width: 300px"></el-input>
		<p>Тайлбар:</p>
		<el-input placeholder="Body" style="width: 300px"></el-input>
		<p>Зураг:</p>
		<el-input placeholder="image" style="width: 300px"></el-input><br><br>
	</div>
</template>

