<template>
	<div>
		<p>Title:</p>
		<el-input placeholder="Title" style="width: 300px">Овог:</el-input>
		<p>Sentences:</p>
		<el-input placeholder="Sentences" style="width: 300px"></el-input>
		<p>Tags:</p>
		<el-input placeholder="Tags" style="width: 300px">Утас 1:</el-input><br><br>
		<el-button type="primary"> Нэмэх</el-button>
	</div>
</template>