<template>
  <div>
    <el-row>
      <el-col :span="24" class="bg-purple-dark">
        <div >
          <h2 style="text-align: center">Дүрс боловсруулалтын толь бичиг</h2>
        </div>
      </el-col>
    </el-row>
    <el-row type="flex" justify="center">
      <el-col v-if="me != null" :span="3">
        <el-button type="primary" class="el-icon-plus" @click="add_words()">Үг нэмэх</el-button>
      </el-col>
      <el-col v-if="me == null" :span="3" > 
        <router-link to="/auth/login">
          <el-button type="primary"> Нэвтрэх</el-button>
        </router-link>
      </el-col>
      <el-col v-if="me == null" :span="3" >
        <router-link to="/auth/register">
          <el-button type="primary"> Бүртгүүлэх</el-button>
        </router-link>
      </el-col>
      <el-col v-if="me != null" :span="3">
        <el-button type="primary" @click="logout()"> Гарах</el-button>
      </el-col>
    </el-row>
    <el-row :gutter="20">
      <el-col :span="12" :offset="6">    
        <el-autocomplete class="inline-input" v-model="searchWord" :fetch-suggestions="querySearch" 
        placeholder="Үг хайх"  @select="handleSelect" ><el-button slot="append" icon="search" @click="search()"></el-button></el-autocomplete>
      </el-col>
      <el-col :span="12" :offset="6">
        <div style="text-align: center">
          <span v-for="n in 26">  
            {{chars.substr(n, 1)}}
          </span>
        </div> 
      </el-col>
    </el-row>
    <div>
      <router-view></router-view>
    </div>
  </div>
</template>
<style>
  .el-col {
    padding: 20px;
  }
  .bg-purple-dark {
    background: #20a0ff;
    color: white;
  }
</style>
<script>
export default {
  data() {
    return {
      chars : '#ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789',
      words: [],
      activeIndex: '1',
      searchWord: '',
      userinput: '',
      suggestedWords: [],
      me: this.$auth.getMe(),
      links: [],
      state1: '',
      state2: ''
    }
  },
  methods: {
    getWords: function (pageNo) {
      var self = this;
      
      this.axios.get("/word/",{
        params:{
          page: pageNo
        }
      }).then((res) => {
        // self.words = self.words.concat(res.data.results);
        for(var r in res.data.results) {
          res.data.results[r].value = res.data.results[r].title
          self.words.push(res.data.results[r])
        }
        // console.log("hoe:", self.words)
      }).catch(function(error) {
        console.log(error);
      });
    },
    logout() {
      this.$auth.destroyToken();
      this.$auth.removeMe();
      this.$router.push('/auth/login');
    },
    getMe() {
      this.axios.get("/user/me/")
      .then((res) => {
        this.me = res.data;
        console.log("res.data: ", res.data);
      })
      .catch(function(error) {
      });
    },
    add_words: function() {
      this.$router.push('/add_words');
    }, 
    querySearch(queryString, cb) {
      var words = this.words;
      var results = (queryString ? words.filter(this.createFilter(queryString)) : words);
      // call callback function to return suggestions
      // console.log("HERE: ", results)
      cb(results);
    },
    createFilter(queryString) {
      return (words) => {
        return (words.value.toLowerCase().indexOf(queryString.toLowerCase()) === 0);
      }
    },
    handleSelect(item) {
      this.$router.push(`/word/${item.id}`);
      console.log(item);
    },
  },
  created() {
    for(var i = 1; i < 17; i++) {
      this.getWords(i);
    }
    this.getMe();
  },

}
</script>
