

<template>

  <div>
    <div class="padding">
      <div class="navbar">
        <div class="pull-center">
          <!-- brand -->
          <a href="/" class="navbar-brand">
            <span class="hidden-folded inline">Дүрс боловсруулалтын толь бичиг</span>
          </a>
          <!-- / brand -->
        </div>
      </div>
    </div>
    <div class="b-t">
      <div class="center-block w-xxl w-auto-xs p-y-md">

        <el-form :model="user" :rules="userRules" ref="user" label-width="0">
          <el-form-item prop="email">
            <el-row>
            <h3>И-мэйл</h3>
            <el-input type="email" v-model="user.email" auto-complete="off"></el-input>
            </el-row>
          </el-form-item>
          <el-form-item prop="password">
            <h3>Нууц үг</h3>
            <el-input type="password" v-model="user.password" auto-complete="off"></el-input>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="login('user')">Нэвтрэх</el-button>
          </el-form-item>
        </el-form>
      </div>
    </div>
  </div>

</template>

<script>

  export default {
    name: "login",
    data: function() {
      return {
        user: {
          email: "",
          password: "",
        },
        userRules: {
          email: [{
            required: true,
            message: 'И-мэйл хаягаа оруулна уу!',
          }, {
            type: 'email',
            message: 'И-мэйл хаяг алдаатай байна!',
            trigger: 'change'
          }],
          password: [{
            required: true,
            message: 'Талбар хоосон байна!',
            trigger: 'blur',
          }, {
            min: 3,
            message: '3 аас дээш тэмдэгттэй байх',
            trigger: 'change'
          }],
        },
      }
    },
    methods: {
      login: function(user) {
        this.$refs[user].validate((valid) => {
          if (valid) {
            this.axios.post("/login/", {
              email: this.user.email,
              password: this.user.password
            }).then((res) => {
                this.$auth.setToken(res.data.token, Date.now() + 14400000); // + 4 hours
                this.$router.push('/');
              }).catch(function(error) {
                console.log(error);
              });
            } else {

              return false;
            }
          });
      }
    }
  }

</script>
