<!-- <template>
  <div>
    <div class="padding">
      <div class="navbar">
        <div class="pull-center">
          
          <a href="/" class="navbar-brand">
          
            <img src="src/assets/img/logo.png" alt="." class="hide">
            <span class="hidden-folded inline">Дүрс боловсруулалтын толь бичиг</span>
          </a>
          
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="center-block col-md-6 ">
        <form  @submit.prevent="validateBeforeSubmit">
          <div class="">
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <input class="form-control" name="username" v-model="user.username" v-validate:username.initial="'required|alpha'"
                                                                  :class="{'input':true,'parsley-error':errors.has('username') }" type="text" placeholder="Username">
                      <i v-show="errors.has('username')" class="fa fa-warning"></i>
                      <span v-show="errors.has('username')" class="parslye-danger">{{ errors.first('username') }}</span>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="text" class="form-control" name="company_name" placeholder="Company name" v-model="user.company_name"
                                                                                                             v-validate:company_name.inital="'required|alpha'" :class="{'input':true,'parsley-error':errors.has('company_name') }">
                      <i v-show="errors.has('company_name')" class="fa fa-warning"></i>
                      <span v-show="errors.has('company_name')" class="parslye-danger">{{ errors.first('company_name') }}</span>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input class="form-control" name="email" v-model="user.email" v-validate:email.initial="'required|email'" 
                                                               :class="{'input': true, 'parsley-error':errors.has('email') }" type="email" placeholder="Email">
                      <i v-show="errors.has('email')" class="fa fa-warning"></i>
                      <span v-show="errors.has('email')" class="parslye-danger">{{ errors.first('email') }}</span>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input class="form-control" name="password" v-model="user.password" v-validate:password.initial="'required|min:6'"
                                                                  :class="{'input':true,'parsley-error':errors.has('password') }" type="password" placeholder="Password">
                      <i v-show="errors.has('password')" class="fa fa-warning"></i>
                      <span v-show="errors.has('password')"
                            class="parslye-danger">{{ errors.first('password') }}</span>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input class="form-control" name="confirm_password" v-model="user.confirm_password" 
                                                                          v-validate:password.initial="'required|min:6'" :class="{'input':true,'parsley-error':errors.has('confirm_password')
                                                                          }" type="password" placeholder="Confirm Password">
                      <i v-show="errors.has('confirm_password')" class="fa fa-warning"></i>
                      <span v-show="errors.has('confirm_password')" class="parslye-danger">{{ errors.first('password') }}</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="m-b-md text-sm text-center">
                <span class="text-muted">By clicking Sign Up, I agree to the</span>
                <a href="#">Terms of service</a>
                <span class="text-muted">and</span>
                <a href="#">Policy Privacy.</a>
              </div>
            </div>
            <div class="text-center">
              <el-button type="submit" class="btn btn-md black m-b-md p-x-lg">Sign Up</el-button>
              <div>Already have an account? <a><router-link class="text-primary _600" to="/auth/login">Sign in</router-link></a></div>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
</template> -->


<template>

  <div>
    <div class="padding">
      <div class="navbar">
        <div class="pull-center">
          <!-- brand -->
          <a href="/" class="navbar-brand">
            <span class="hidden-folded inline">Дүрс боловсруулалтын толь бичиг</span>
          </a>
          <!-- / brand -->
        </div>
      </div>
    </div><br>
    <div class="b-t">
      
      <el-col :span="12" :offset="4">
        <el-form :model="user" :rules="userRules" ref="user" label-width="200px" :label-position="top">
          <el-form-item label="И-мэйл: ">
            <el-input type="email" v-model="user.email" auto-complete="off"></el-input>
            <span v-for="error in error.email" class="parslye-danger" style="margin-bottom: -10">{{error}}</span>
          </el-form-item>
          <el-form-item label="Нэр:">
            <el-input type="text" v-model="user.first_name" auto-complete="off"></el-input>
            <span v-for="error in error.username" class="parslye-danger" >{{error}}</span>
          </el-form-item>
          <el-form-item label="Овог:">
            <el-input type="text" v-model="user.last_name" auto-complete="off"></el-input>
          </el-form-item>
          <el-form-item label="Нууц үг:">
            <el-input type="password" v-model="user.password" auto-complete="off"></el-input>
            <span v-for="error in error.password" class="parslye-danger">{{error}}</span>
          </el-form-item>
          <el-form-item label="Шалгах нууц үг:">
            <el-input type="password" v-model="user.confirm_password" auto-complete="off"></el-input>
            <el-alert title="These passwords don't match. Try again?" type="error" show-icon v-show="user.password!=user.confirm_password & !user.confirm_passowrd"></el-alert>
            <!-- <span v-show="user.password!=user.confirm_password & !user.confirm_passowrd" class="parslye-danger">These passwords don't match. Try again?</span> -->
          </el-form-item>
          <el-form-item>
          <el-button type="primary" @click="register('user')">Бүртгүүлэх</el-button>
            Already have an account? <a style="color: #20A0FF"@click="$router.push('/auth/login')">login</a>
          </el-form-item>
          
        </el-form>
      </el-col>
      
    </div>
  </div>

</template>


<script>
  export default {
    name: "register",
    data: function(){
      return {
        user: {
          email: "",
          first_name: "",
          last_name: "",
          username: "",
          password: "",
          confirm_password: "",
        },
        error: {
          email: "",
          first_name: "",
          last_name: "",
          username: "",
          password: "",
          confirm_password: "",
        },
        userRules: {
                email: [{
                    required: true,
                    message: 'Insert your email address',
                }, {
                    type: 'email',
                    message: 'Email wrong',
                    trigger: 'change'
                }],
                username: [{
                    required: true,
                    message: 'Insert your username',
                }, {
                    type: 'username',
                    message: 'username wrong',
                    trigger: 'change'
                }],
                password: [{
                    required: true,
                    message: 'Insert your password',
                    trigger: 'blur',
                }, {
                    min: 3,
                    message: 'Password must contains at least 3 letters',
                    trigger: 'change'
                }],
                repeat_password: [{
                    required: true,
                    message: 'Insert repeat password',
                    trigger: 'blur',
                }, {
                    min: 3,
                    message: 'Password must contains at least 3 letters',
                    trigger: 'change'
                }],
            },
      }
    },
    methods: {
        register: function(user) {
            var self = this;
            self.loading = true;
            this.$refs[user].validate((valid) => {
                if (valid) {
                    this.axios.post("/register/", {
                        email: this.user.email,
                        first_name: this.user.first_name,
                        last_name: this.user.last_name,
                        password: this.user.password,
                        confirm_password: this.user.confirm_password,
                        username: this.user.username,
                    }).then((res) => {
                        this.$router.push('/auth/login');
                        self.loading = false;
                    }).catch(function(error) {
                        self.error = error.response.data;
                        self.loading = false;
                    });
                } else {
                    self.loading = false;
                    return false;
                }
            });
        },
        wrong(message) {
          this.$message({
            message: message,
            showClose: true,
            type: 'warning'
          });
        },
   },
  }
</script>
